.playlist-section {
  text-align: center;
  padding: 80px 5%;
  background-color: #ffeaf4;
  color: #b3005c;
}

.pink-gradient {
  display: inline-block;
  font-family: 'MatchaVibes', cursive;
  font-size: 4rem;
  background: linear-gradient(90deg, #ff4da6, #ff99cc, #ffcce0);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textFlow 6s ease infinite;
  margin-bottom: 10px;
}

.playlist-desc {
  font-family: 'MatchaVibes', cursive;
  font-size: 2rem;
  background: linear-gradient(90deg, #ff4da6, #ff99cc, #ffcce0);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textFlow 6s ease infinite;
  margin-bottom: 10px;
}

.playlist-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.music-card {
  background: white;
  border-radius: 20px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 6px 20px rgba(255, 105, 180, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.music-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 10px 30px rgba(255, 20, 147, 0.5);
}

.music-card video {
  width: 100%;
  height: auto;           /* altura se ajusta automaticamente */
  object-fit: contain;    /* mostra o vídeo inteiro, sem cortes */
  border-radius: 15px;
  cursor: pointer;
  background-color: #000; /* fundo neutro para vídeos com barras pretas */
  transition: transform 0.3s ease;
}

.music-card video:hover {
  transform: scale(1.03);
}

.music-card h2 {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #d63384;
}
.sound-btn {
  background: linear-gradient(90deg, #ff77c4, #ffbce1);
  font-family: 'MatchaVibes', cursive;
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 30px;
  box-shadow: 0 4px 15px rgba(255, 105, 180, 0.6);
  transition: all 0.3s ease;
}

.sound-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #ff1d8e, #ffa0d3);
}